@charset "utf-8";
/* ========================================

  @author : Atsushi Nagase

  Copyright 2008 Atsushi Nagase All rights reserved.
  http://ngsdev.org/

======================================== */

.-clearcomment {  }
fieldset, legend, p { margin:0; padding:0; border:0 none; }
ul, ol, li { margin:0; padding:0; list-style:none; }
img { border:0; }
em { font-style:normal; font-weight:bolder; }
blockquote { padding:0; margin:0; }
.link, a { color:#00c; text-decoration:underline; cursor:pointer; }

div.wrapper { padding:1em 0 0 0; font-size:12px; display:none; }
#main.form #form,
#main.results #results,
#main.starred #starred,
#main.form #tabs,
#main.results #tabs,
#main.starred #tabs { display:block; } 

#tabs { border-bottom:3px solid #d00; display:none; }
#tabs-ul { margin:0; padding:0; height:22px; }
#tabs-ul li { float:left; height:20px; border:2px solid #d00; border-right-width:0px; border-bottom-width:0px; }
#tabs-ul li.n3 { border-right-width:2px; }
#tabs-ul li span.link { font-size:9pt; color:#666; background:#fff; display:block; float:left; padding:4px 10px 2px 10px; text-decoration:none; }

#main.form #tabs-ul li.n1 span.link,
#main.results #tabs-ul li.n2 span.link,
#main.starred #tabs-ul li.n3 span.link { background-color:#d00; color:#fff; cursor:default; }

* html div.wrapper { font-size:0.8em; }
form#search-form fieldset { width:100%; float:left; clear:left; padding-bottom:1em; }
form#search-form legend { font-size:0.8em; padding:0 0 0.2em 0; }
form#search-form label { white-space:nowrap; display:block; float:left; padding:0 0.5em 0 0; }
form#search-form label input,
form#search-form label span.l { display:block; float:left; }
form#search-form div.body { border-top:1px solid #666; padding:1em 0; float:left; width:100%; }
fieldset#dest select { width:32%; float:left; margin:0 1% 0 0; }
form#search-form input#input-keyword { width:95%; }

ul.tours, ul.tours li { width:100%; float:left; position:relative; top:0; left:0; clear:left; overflow:hidden; }
ul.tours li { min-height:86px; border-top:1px solid #999; }
ul.tours li.even { background:#eee; }
ul.tours p.pict { position:absolute; top:10px; left:5px; }
ul.tours p.pict a { display:block; width:66px; height:66px; overflow:hidden; }
ul.tours p.pict a img {  }
ul.tours p.spec { font-size:1em; padding:0 0 5px 0; }
ul.tours div.text { padding:10px 0 1em 76px; }
ul.tours div.text h3 { margin:0; padding:0 0 0.5em 0; font-size:1.1em; }
ul.tours blockquote.point { font-size:0.8em; padding:5px; border:1px solid #ccc; background:#eee; display:inline-block; }
ul.tours li.even blockquote.point { background:#ddd; }
ul.tours p.star { padding:0.5em 0; float:left; }
ul.tours p.star span { float:left; display:block; text-indent:18px; padding:2px 0; background:url(http://abroad-ig.googlecode.com/svn/trunk/www/assets/img/star-deactive.gif) no-repeat 0 50%; }
ul.tours li.starred p.star span { background-image:url(http://abroad-ig.googlecode.com/svn/trunk/www/assets/img/star.gif); }

div.loading p { background:url(http://abroad-ig.googlecode.com/svn/trunk/www/assets/img/loading.gif) no-repeat 2px 50% #900; padding:3px 0.5em 3px 22px; float:left; color:#fff; }
p.notice { float:left; border:1px solid #fc6; padding:4px 4px 4px 22px; background:url(http://abroad-ig.googlecode.com/svn/trunk/www/assets/img/error.gif) no-repeat 3px 50% #ffd; }

div.paginate { padding:1em 0; border-top:1px #ccc solid; margin-top:1em; float:left; width:100%; }
div.paginate ul li { float:left; margin:0 1em 0 0; }
