@charset "utf-8";
/* ========================================

  @author : Atsushi Nagase

  Copyright 2008 Atsushi Nagase All rights reserved.
  http://ngsdev.org/

======================================== */

body { font-size:0.8em; color:#333; }
fieldset, legend, p { margin:0; padding:0; border:0 none; }
